:root {
  --bg: #fafafa;
  --text: #222;
  --accent: #0953f4;
  --card: #fff;
  --shadow: rgba(0, 0, 0, 0.05);
}

[data-theme='dark'] {
  --bg: #121212;
  --bg-articles: #f4f4f4;
  --text: #f5f5f5;
  --accent: #4ea8ff;
  --card: #1e1e1e;
  --shadow: rgba(255, 255, 255, 0.05);
}

body, html {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--text);
  font-family: system-ui, sans-serif;
  min-height: 100vh;
}
